.container {
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background: rgb(251, 187, 0);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #f4f4f4;
}

.add-button {
  background: rgb(239, 110, 0);
  margin-top: 10px;
  width: 88px;
  height: 33px;
  border-radius: 10px;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.add-button:hover {
  background: rgb(255, 140, 0);
}

input{
  font-weight: bold;
}
