<div  style="background-color: rgb(251, 187, 0);">
<h2 style="color: black; margin-left: 75px; font-weight: bold;" mat-dialog-title>Adicionar Veículo</h2>
<mat-dialog-content>
  <form style="margin-left: 65px;" [formGroup]="vehicleForm">
    <mat-form-field>
      <mat-label>Placa</mat-label>
      <input matInput formControlName="placa" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Chassi</mat-label>
      <input matInput formControlName="chassi" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Renavam</mat-label>
      <input matInput formControlName="renavam" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Modelo</mat-label>
      <input matInput formControlName="modelo" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Marca</mat-label>
      <input matInput formControlName="marca" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Ano</mat-label>
      <input matInput formControlName="ano" required type="number">
    </mat-form-field>
  </form>
</mat-dialog-content>

<div style="margin-left: 121px; margin-bottom: 26px;" class="buttons">
  <button style="background: rgb(239, 110, 0); width: 10rem;"  mat-button (click)="onSave()" [disabled]="vehicleForm.invalid">Salvar</button>
  <div style="margin-bottom: 20px;"></div>
  <button style="background: rgb(239, 110, 0); width: 10rem;" mat-button (click)="onClose()">Cancelar</button>
</div>
</div>
